// SPONSOR_BACKGROUND_COLOR_GOES_HERE - put this in place of necessary backgrounds
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

/*resets*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
    clear: unset;
    line-height: unset;
    margin: unset;
    padding: unset;
}





/* modal button */
#bespeek-open-modal-button {
  cursor: pointer;
  background:url(https://bespeek-react-assets.s3-us-west-2.amazonaws.com/widget-button-transparent2.png) no-repeat center center;
  background-color: SPONSOR_BACKGROUND_COLOR_GOES_HERE;
  background-size: contain;
  width: 252px;
  height: 85px;
  border-radius: 10px 10px 0 0;
  position: fixed;
  z-index: 9999;
  &.hidden {
    display: none;
  }
  &.top-right{
    top:220px;
    right:-80px;
    transform: rotate(270deg);
  }
  &.top-left{
    top:220px;
    left:-90px;
    transform: rotate(90deg);
  }
  &.bottom-right{
    bottom:0;
    right:100px;
  }
  &.bottom-left{
    bottom:0;
    left:100px;
  }
  &:hover{
    opacity:0.6;
    transition:300ms;
  }
}
/* modal */
.bespeek-mid-modal{
    font-family: 'Oswald', sans-serif;
    display: none;
    box-sizing: border-box;
    width: 660px;
    max-width: 100%;
    height: 410px;
    max-height: 100%;
    position: fixed;
    z-index: 99999;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &.show {
      display: block;
    }
  > .bespeek-modal-inner{

    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.7);
    margin: 30px;
    padding: 15px;
    border-radius:8px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ececec+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ececec 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ececec 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    > h1.bespeek-modal-title{
      font-family: 'Oswald', sans-serif;
      font-size: 44px;
      font-weight: 700;
      color:#444;
      margin-top:0;
      margin-bottom: 15px;
      &:before{
        display: none;
      }
    }
    > .bespeek-modal-tooltip {
      background: url(https://bespeek-react-assets.s3-us-west-2.amazonaws.com/question.png) no-repeat center center;
      background-size: contain;
      float: right;
      width: 32px;
      height: 32px;
      margin: 5px 5px 0 0;
      z-index: 50;
      > .tooltiptext {
        visibility: hidden;
        width: 320px;
        background-color: #555;
        color: #fff;
        text-align: left;
        padding: 15px;
        border-radius: 3px;
        font-size:16px;
        font-weight:300;


        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        top: 53px;
        right: 50px;
        margin-left: -60px;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
        &::after {
          content: "";
          position: absolute;
          bottom: 45%;
          right: -10px;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent transparent #555;
        }
      }
      &.show > .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
    .bespeek-modal-description{
      font-family: 'Oswald', sans-serif;
      box-sizing: border-box;
      font-size:20px;
      margin-top: 0;
      margin-bottom:15px;
      width:100%;
      color: #555;
      line-height: 24px;
      
    }
    .bespeek-modal-questions{
      font-family: 'Oswald', sans-serif;
      box-sizing: border-box;
      padding:5px 30px;
      font-weight:700;
      color: #333;
      position: relative;
      top:0;
      overflow: hidden;
      height:100%;

    }    
    .bespeek-answer-text-container{
      font-family: 'Oswald', sans-serif;
        display: flex;
        margin-top:15px;
        > input {
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          width: 75%;
          background: #fff;
          border: 1px solid #ccc;
          color: #555;
          font-size: 14px;
          flex-basis: 80%;
          border-radius:8px 0 0 8px;
          padding:0 15px;
        }
    }
    > .bespeek-undo-submit{
      position: absolute;
      z-index: 1;
      bottom: 15px;
      right: 15px;
      border: 0;
      color: #fff;
      background: #888;
      padding: 5px 10px;
      font-size: 14px;
      border-radius: 8px;
    }
    > div.bespeek-modal-questions {
      > .bespeek-modal-question {
        &.question-hidden {
          display: none;
        }
      }
    }
  }
}
.bespeek-modal-close{
  position: absolute;
  z-index: 1;
  top: 10px;
  right: -50px;
  border: 0;
  padding: 5px 10px;
  font-size: 14px;
  background:#555;
  color:#fff;
  border-radius: 8px;
  background:url(https://bespeek-react-assets.s3-us-west-2.amazonaws.com/cancel2.png) no-repeat center center;
  background-size: cover;
  height:40px;
  width:40px;
  box-shadow: 8px -6px 30px 0px rgba(0, 0, 0, 0.67);
  border-radius: 200px;
  cursor: pointer;
  &:hover{
    transition: 300ms;
    height:44px;
    width:44px;
  }
}
.bespeek-modal-overlay{
  display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
    &.show {
      display: block;
    }
}
.bespeek-modal-question > p{
  font-family: 'Oswald', sans-serif;
  margin-top:0;
}
.bespeek-modal-title{
  margin: 0;
}
.bespeek-modal-questions{
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  bottom:15px;
  top:100px;
  left:0;
  font-size:18px;
}
.bespeek-modal-possible-answers{
  font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 220px;
}
.bespeek-submit {
  font-family: 'Oswald', sans-serif;
  height: 51px;
  color: #fff;
  font-size: 18px;
  flex-basis: 20%;
  padding: 0 15px;
  border-radius: 0 8px 8px 0;
  font-weight: 700;
  background: #5e8970;
  border: none;
  &:hover{
  background:#458961;
  }
  &.bespeek-submit-mc{
    font-family: 'Oswald', sans-serif;
   width: 200px;
   border-radius: 8px;
   position: absolute;
   bottom: 40px;
  }
}
.question-0,
.question-1,
.question--1,
.question--2{
  position: absolute;
  top:1000px;
  left:0;
  line-height: 22px;
  &.visible {
          top:15px;
          left:30px;
          right:30px;
          transition: 1000ms;
        }
}
.bspk-mc-icon{
  height:75px;
  width:75px;
  margin:0 auto 5px;
  filter: grayscale(75%);
  box-sizing: border-box;
  transition: 300ms;
  &.answer-36{
    background:url(https://bespeek-react-assets.s3-us-west-2.amazonaws.com/service.png) no-repeat center center;
      background-size: cover;
  }
  &.answer-37{
    background:url(https://bespeek-react-assets.s3-us-west-2.amazonaws.com/church.png) no-repeat center center;
      background-size: cover;
  } 
  &.answer-38{
    background:url(https://bespeek-react-assets.s3-us-west-2.amazonaws.com/outdoor.png) no-repeat center center;
      background-size: cover;
  }
  &.selected{
    height:90px;
    width:90px;
    filter: grayscale(0%);
  }
  &:hover{
    transition: 700ms;
    filter: grayscale(30%);
    height:90px;
    width:90px;
  }
}
.bespeek-song-results-holder {
  position: absolute;
  left: 0;
  height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  border: solid 1px;
  border-top: none;
  z-index: 2;
  background: #FFF;
  border-radius: 5px;
  > .bespeek-song-results-list {
    list-style: none;
    > li.bespeek-song-result {
      font-family: 'Oswald', sans-serif;
      margin-bottom: 3px;
      display: flex;
      align-items: center;
      opacity:0.7;
      &.bespeek-song-hover {
        border: solid 1px #ccc;
        border-radius: 5px;
        padding: 1px;
        opacity:1;
      }
      > div {
        margin: 0 10px;
      }
      > .art img{
        height:40px;
        width:40px;
      }
    }
  }
}
.bespeek-possible-answers-container > input{
  display: none;
}
.bespeek-answer-finished-container.bespeek-modal-success{
  line-height:36px;
}
/*mobile*/

@media only screen and (max-width: 600px) {
  .bespeek-mid-modal {
      width: 100%;
      max-width: 100%;
      height: 600px;
      max-height: 100%;
      left: 0;
      top: 100px;
      -webkit-transform: none;
      transform: none;
      padding-top:60px;
  }
  .bespeek-modal-close {
      top: -20px;
      right: 0;
  }
  .bespeek-mid-modal>.bespeek-modal-inner {
    margin:0;
  }
  .bespeek-mid-modal>.bespeek-modal-inner .bespeek-modal-questions {
      padding: 5px 0;
  }
  .question--1.visible, .question--2.visible, .question-0.visible, .question-1.visible {
      top: 15px;
      left: 0;
      right: 0;
  }
}